[2016-08-01 04:01] akivajgordon opened #1 "Teach user how to toggle torah/chumash side using keyboard"
Currently, holding down the <kbd>.</kbd> (i.e. period) character can be used to quickly toggle the torah side vs. chumash side, but it is not discoverable. There should be some method of teaching the user about this trick.

[2016-08-01 04:09] akivajgordon opened #2 "Scroll to the start of the parsha when using the jump list"
When clicking on the list of parshiyot, it jumps to the correct page, but it starts at the top of the page.

The expected behavior is that it would scroll to where the parsha actually starts.

[2016-08-01 04:11] akivajgordon opened #3 "Add mobile support"
On small screens (i.e. mobile devices), the lines are broken up poorly, and it's not possible to quickly jump to a specific parsha. Also, scrolling is awkward. Overall, it's a poor experience.

[2016-08-01 04:16] akivajgordon opened #4 "Chapter numbers are missing when a new chapter starts"
I can tell when a new chapter starts because the verse indicator shows "א", but it doesn't say which chapter it is.

One possible solution is to show it like this, "יז:א" indicating 17:1 (i.e. chapter 17, verse 1).

[2016-08-01 04:17] akivajgordon opened #5 "Show parsha name instead of ״ראשון״"
Instead of showing ״ראשון״ in the gutter, it should show the name of the new parsha.

[2016-08-01 04:24] akivajgordon opened #6 "אז ישיר layout does not match actual Torah layout"
# Screenshot of current layout

![bad-layout](https://cloud.githubusercontent.com/assets/6025036/17283414/025ba5da-577e-11e6-95c2-b5c4b4ceffd6.png)
# Expected layout

![good-layout](https://cloud.githubusercontent.com/assets/6025036/17283441/51ce34ca-577e-11e6-83d5-52c120251f84.png)

[2016-12-19 16:24] nizdobs opened #7 "RFE: Shortcut to jump to aliyah"
Firstly, yashar kochacha and chazak u'baruch on this excellent app/website. It's by far the best online tikun I've come across. One enhancement request for the website I would ask for is to have a shortcut to jump to a specific aliyah once you've selected your parasha.

[2016-12-19 16:39] akivajgordon commented on #7
@nizdobs – Thank you so much. I love hearing positive feedback about this app. This is only just the beginning...

I love your suggestion. I've been toying around with some ways to jump to specific aliyot, but I want to make sure it's clean and easy to work with, especially because of some of the more tricky situations like double-parshiyot, M/Th/Shabbat-mincha, chagim, etc.

I encourage you to ke

[2016-12-19 16:52] JackYoungblood commented on #1
This is a perfect feature while studying... When I start studying  I can show the t'amim and nekudot and then press the period to test myself on the torah script. As I know the reading better I can show the torah script and press the period if/when I need to cheat.

One suggestion I would make is that you move this functionality to the space bar as it's so much more accessible than having to hunt

[2017-01-02 00:31] JackYoungblood commented on #3
I don't think you're far from having a decent mobile experience. If I hold my phone in landscape mode the lines break correctly (I believe). Yes, there's a lot of scrolling needed but that's just a fact of life on a small phone screen.

The only true shortcoming is the lack of navigational controls which makes the app unusable in its current state. Add a method to navigate effectively on mobile an

[2017-01-02 00:39] nizdobs opened #8 "Layout Bug: Incorrect Setuma at beginning of Vayigash"
There issupposed to be a setumah from the end of Miketz into the beginning of Vayigash. But the web site currently shows the end of Miketz rolling right into the first two words Vayigash followed by a petucha.

[2017-01-02 06:03] akivajgordon commented on #3
@nizdobs Yes, the navigation on mobile is definitely the biggest issue and needs to be solved in order for it to be usable. I definitely have this one on my radar. Thanks again for the feedback!

[2017-01-02 06:07] akivajgordon commented on #8
This is actually occurring because of incorrect setuma/petucha values from the source where I got the text. Right now, these occur throughout, and I have to go manually find each one. I've made a number of these corrections so far and I hope to be able to push an update soon to fix as many as I can find. Thanks for reporting this.

[2017-02-26 18:17] nizdobs commented on #4
I just happened across this today as I was using the site to prepare for Vayakhel-Pekudei. The site doesn't break out aliyot for double parshiot (which should be its own RFE) so to work around it I went to hebcal to look for the perek and pasuk of the aliyah I'm interested in. But looking at the app there's no way to know which perek you're looking at

[2017-02-26 18:24] nizdobs opened #9 "Navigate to specific perek/pasuk"
Navigation through a tikun is generally by parsha/aliya but sometimes you're given the sefer/perek/pasuk of a reading, especially for special maftirs and the like. It would be nice if tikkun.io had a navigational interface for sefer/perek/pasuk

[2017-02-26 18:26] nizdobs opened #10 "Accommodation for double parshiot"
I'd like to see navigation in the pasha listings for double parshiot. When clicking on those links the aliyah breaks should show the aliyah breaks for the double parsha assignment.

edit - Never mind the comment above. I see that you now have the double parsha aliyah break indicators showing when I look at the individual parshiot. Kol Hakavod. I'll leave this RFE in place so you can see that someo

[2017-02-26 18:38] akivajgordon commented on #10
Closing because, as you mentioned in your edit, this functionality already exists:

![double-parsha-aliyot](https://cloud.githubusercontent.com/assets/6025036/23342467/bc9ac71a-fc28-11e6-857a-02266bf1778b.png)

[2017-02-26 18:38] #10 closed

[2017-02-26 18:41] akivajgordon commented on #9
I'd love to add that as well. I already have a branch that includes showing the new perek:

![show-new-perek](https://cloud.githubusercontent.com/assets/6025036/23342490/43be2d5e-fc29-11e6-8c33-e97d0d5229a7.png)

but being able to navigate as well would be a great enhancement!

[2017-04-30 03:15] nizdobs opened #11 "Erroneous Aliyah indicator"
There's an indicator that the shvi'i aliyah of Emor begins at Vayikra 24:23 instead of at 24:1 where I believe it belongs

[2017-04-30 03:26] akivajgordon commented on #11
Wow, that's terrible. So sorry about that – thanks for catching it! I'm not sure why that happened, but it's definitely something I would like to look into and fix.

Sorry development has been slow 😞. I'm very passionate about this project (I am an avid user, since I read almost every week, exclusively from this), so I definitely intend to continue working on it. I'm just juggling a lot right now,

[2017-04-30 03:28] JackYoungblood commented on #11
Lol, I hope that wasn't a real apology. Your tikkun.io is by far the best online tikkun available. If I spot an error every once in a while it's not a big deal.

As for development, I'm sure you'll get to things as time allows. If you're reading a full parasha every week I'm sure that already claims a good chunk of your time.

[2017-04-30 03:59] akivajgordon commented on #11
Thanks, I really appreciate the encouraging feedback.

Becoming an abba for the first time has been the biggest "usage of my CPU cycles", if you know what I mean 😉. Wouldn't trade it for anything, but I'm just saying...

[2017-05-08 14:55] nizdobs opened #12 "Incorrect Petucha in Emor"
There is a petucha column break between the first and second aliyot of Emor that is incorrect. The pasuk beginning sheni reads:

וידבר
יהוה אל משה לאמר

Thanks again for this wonderful site.

[2017-07-05 04:50] #4 closed

[2017-07-06 00:35] akivajgordon opened #13 "Layout in Safari is messed up"
Safari (v10.1) on macOS Sierra (10.12.4) started behaving weird out of the blue one day, without any changes in this codebase.

When showing the annotations (nikkud and trop), the lines are not justified (compare to Chrome):

**Safari**
![safari-showing](https://user-images.githubusercontent.com/6025036/27890505-1f322f46-61c1-11e7-8193-c7429a2dcb77.png)

**Chrome**
![chrome-showing](https://user-i

[2017-07-07 02:47] akivajgordon commented on #4
Fixed with commit 353d4da84f3120007d6f1ee21784052868736254

[2017-07-09 02:43] #8 closed

[2017-07-09 02:43] #12 closed

[2017-07-09 02:43] #11 closed

[2017-07-31 02:37] akivajgordon commented on #13
After updating my machine from macOS 10.12.4 to 10.12.6, which seems to have also upgraded Safari from v10.1 to v10.1.2, I no longer see this issue.

I'm going to close this as a "won't fix" for previous versions.

[2017-07-31 02:37] #13 closed

[2018-05-23 02:27] akivajgordon opened #21 "Missing words in פרשת בהעלותך"
Right by the 6th aliyah, there are missing words on the קרי side next to the backward נון's (both the first one, י:לד, and the second one, י:לו )

![screen shot 2018-05-23 at 8 48 29 pm](https://user-images.githubusercontent.com/6025036/40458649-26fc2f94-5ecb-11e8-99f2-5acd04f9d90b.png)
![screen shot 2018-05-23 at 8 48 58 pm](https://user-images.githubusercontent.com/6025036/40458650-27100d3e-5ecb

[2018-06-08 01:24] akivajgordon opened #22 "Redesign (officially v1)"
## TL;DR

Here is a mockup of the upcoming redesign:

![redesign](https://user-images.githubusercontent.com/6025036/41133998-3939e75e-6a98-11e8-818c-ad1208f455da.gif)

## Overview

The primary goal of this redesign is to help offer a true mobile experience. I felt that in order to do that, the UI needs to be as clean as possible, and it makes sense for it to be that way on the desktop experience a

[2018-06-29 17:08] #22 closed

[2018-06-29 18:46] akivajgordon opened #24 "Add some reasonable metadata for Google searches"
Google searching looks pretty awful right now:

![google-search](https://user-images.githubusercontent.com/6025036/42109319-3942596a-7bab-11e8-9e93-d187c7d1ba6a.png)

[2018-06-29 18:47] akivajgordon opened #25 "Improve the README to encourage outside help"

[2018-07-01 06:56] akivajgordon commented on #3
Resolved with PR #23

It's not perfect by any measure, but it's definitely usable now.

[2018-07-01 06:56] #3 closed

[2018-07-08 05:01] akivajgordon commented on #1
Since v1.0, it's actually now the <kbd>Shift</kbd> key that is used for the toggle.

[2018-07-08 06:35] akivajgordon commented on #1
Closed with PR #28

[2018-07-08 06:35] #1 closed

[2018-07-08 06:35] akivajgordon commented on #24
Closed with PR #27

[2018-07-08 06:35] #24 closed

[2018-07-08 13:27] akivajgordon opened #30 "Toggle tooltip on mobile does not disappear"
On mobile, the toggle tooltip appears after tapping the annotations toggle, and it doesn’t disappear. The only way I can figure out how to make it disappear is to press on the parsha picker.

More importantly, though, the tooltip isn’t even appropriate for mobile since I don’t have access to a keyboard anyway. So it shouldn’t even appear in the first place.

[2018-08-08 04:05] akivajgordon opened #31 "Minify bundle for distribution"
Right now, the bundle produced by webpack weighs in at ~200KB. It would be nice to try to reduce that.

[2018-08-09 03:54] akivajgordon opened #32 "שביעי aliyah is squashed by מפטיר"
In a couple of parshiyot (e.g. עקב, נצבים), the 7th aliyah and the maftir start at the same location, but it only shows "מפטיר", instead of both, as seen in this screenshot:

![squashed-7th](https://user-images.githubusercontent.com/6025036/43877123-3b905ade-9b66-11e8-9517-a23318278be5.png)

[2018-08-16 00:19] akivajgordon opened #33 "Incorrect טעמי מקרא"
I've noticed a bunch of incorrect טאמי מקרא along the way, but I haven't marked them down. Let's try to keep a running list over here:

* [ ] Shoftim (בראשית יח:יד)

The partial challenge here is that the text is generated from another source, so I'd rather ask that source to update it rather than edit our own copy.

*keywords for searching: trope, ta'amei mikrah, cantillation*

[2018-08-16 00:47] akivajgordon opened #34 "Show indicator for כתיב/קרי"
Although the "Chumash side" correctly shows the קרי and the "Torah side" correctly shows the כתיב, it would be nice if the Chumash side had a visible indicator that this particular word is written differently.

### Prior art

Some tikkunim show this as a circle indicator near the word, as in the word "שפכו" in the image below:

![ktiv-kri](https://user-images.githubusercontent.com/6025036/44180717

[2018-10-03 03:52] #2 closed

[2018-10-03 03:52] #5 closed

[2018-10-03 03:56] akivajgordon commented on #25
Closed with a68bb9448724495c6fff08964e72c28713e8176e

[2018-10-03 03:56] #25 closed

[2018-10-29 04:27] #30 closed, assigned to nobody

[2018-10-29 05:41] akivajgordon opened #39 "Remember last visited page for next visit"
When I finish using the app, and then come back, some time later (even a few days later), it would be nice if I started back where I last left off.

[2018-10-29 16:44] akivajgordon opened #40 "Words missing on k'tiv when it should be split words"
When a single k'ri word is separated in the k'tiv as multiple words, the second word does not appear on the Chumash side. Examples include (Genesis 30:11) בגד => בא גד and (Deut. 33:2) אשדת => אש דת. Currently the second word is completely missing from the Chumash side, as seen here:

![screen shot 2018-10-29 at 12 43 11 pm](https://user-images.githubusercontent.com/6025036/47665785-4da4bb00-db78-

[2018-10-29 16:49] akivajgordon opened #41 "Words missing on Chumash side when second word of maqaf separated phrase has a k'tiv form"
When the Chumash side has two words separated by a maqaf, and the second word has a different k'tiv form, on the second word gets rendered on the Chumash side, and the first word is missing, as show here (Deut 33:9):

![screen shot 2018-10-29 at 12 48 36 pm](https://user-images.githubusercontent.com/6025036/47666082-1387e900-db79-11e8-8507-1b5b2b7c45da.png)

-----

![screen shot 2018-10-29 at 12 4

[2018-10-30 02:56] #21 closed

[2018-10-30 02:56] #40 closed

[2018-10-30 02:56] #41 closed

[2018-10-30 17:25] akivajgordon opened #43 "Distinguish sh'va na from sh'va nach"
Currently, there is no visual distinction between *sh'va na* and *sh'va nach*, each of which takes on a different pronunciation. As the general rules for determining which is which are too complex for the average reader, it would be nice if there was some visual distinction between them.

## Prior art

Modern tikkunim tend to make the *sh'va na* bolder in order to differentiate them. I've also see

[2018-10-30 17:34] JackYoungblood commented on #43
This would be a great addition. Might I suggest that you do the same type of visual differentiation between a regular qamatz and a qamatz-katan?

[2018-10-30 19:11] akivajgordon commented on #43
@nizdobs – Yes! I plan to do that as well. I'll write the issue tonight for tracking purposes. It has the same challenge in that the source text doesn't differentiate, but at least there is already a Unicode symbol available (and it is supported by the current font), so it should be significantly easier to tackle.

[2018-10-30 21:57] akivajgordon opened #44 "Distinguish between kamatz and kamatz-katan"
Similar to issue #43, there is a pronunciation difference between kamatz and kamatz-katan, but the app does not currently show any visual difference to help the reader distinguish those.

## Prior art

Most tikkunim show the kamatz-katan as an elongated looking kamatz. There is already a unicode symbol for this (U+05C7), so it seems like the obvious choice.

## Challenges

The source text does not

[2018-10-30 22:16] akivajgordon opened #45 "Cache resources to improve performance"
Resources (pages) should be cached in some way on the browser to improve performance of fetching new pages and to enable offline access.

[2019-12-11 14:49] akivajgordon commented on #34
Closed by #47

[2019-12-11 14:49] #34 closed

[2020-01-01 18:37] akivajgordon opened #53 "Words in בלק on Chumash side not appearing correctly"
In במדבר כג:יג, there is a word not rendered correctly on the Chumash side, as shown in the picture:

![Screen Shot 2020-01-01 at 1 36 25 PM](https://user-images.githubusercontent.com/6025036/71644754-c2531800-2c9b-11ea-919e-3640819c0980.png)

Note that it looks fine on the Torah side:

![Screen Shot 2020-01-01 at 1 36 08 PM](https://user-images.githubusercontent.com/6025036/71644755-c2531800-2c9b

[2020-02-20 23:00] Jutanium opened #54 "Holding Shift Does Not Produce Desired Effect on Windows"
On my mac browsers, holding shift changes the view while shift is held; on windows, though, it oscillates back and forth while you hold shift.

[2020-02-21 02:07] akivajgordon commented on #54
That is definitely not intended behavior – thanks for reporting! I will try to get a hold of a Windows machine to reproduce this and see if I can fix it. In the meantime, could you tell me which Windows OS and which browser you were using?

[2020-02-25 04:05] akivajgordon commented on #54
@Jutanium I tried this briefly on a Windows 10 machine but was not able to reproduce this in Chrome nor Firefox. The app didn't load correctly on IE or Edge (which is a separate issue), so I couldn't try it there.

I'm going to close this until I can get details on how to reproduce the issue, after which I'd be happy to reopen.

[2020-02-25 04:05] #54 closed

[2020-02-25 05:14] Jutanium commented on #54
I'm on Chrome 80 on Windows 10, but the issue also happens for me on Firefox (version 73.0.1).

[2020-02-25 18:27] akivajgordon commented on #54
Hmm, I tried on Chrome 78 and Firefox 70 (the machine isn't mine so I can't download newer versions) but still was not able to reproduce this. I wonder if maybe you have some desktop setting that is causing the Shift key to automatically toggle.

Is there a way to confirm that another app or page that utilizes the Shift key is not behaving in the same way?

[2020-02-25 19:42] Jutanium commented on #54
Can you link me to the file where you register key events? I'll build it and fix it myself

[2020-02-26 02:28] akivajgordon commented on #54
Sure thing – I'd start over here: https://github.com/akivajgordon/tikkun.io/blob/07809e01ef531fb0c699a90128717bba82fb8615/index.js#L258

[2020-02-27 00:31] Jutanium commented on #54
I've fixed the issue and submitted a pull request. #56

[2020-03-15 12:55] akivajgordon commented on #53
This appears to just be an error in the source text. The source shows this as a ktiv-kri situation, but my Artscroll chumash, as well as another tikkun does not show it as such. It should be `לְךָ` on both sides.

[2020-03-15 13:00] #53 closed

[2020-05-20 11:24] hroskes opened #60 "Na"ch"
I would absolutely love to see all of Na"ch!  I haven't found a tikkun for Na"ch other than the haftaros and megillos.

[2020-05-20 13:10] akivajgordon commented on #60
@hroskes Thanks for opening an issue!

Since a tikkun is meant to be a tool for preparing for a public reading, I'm wondering what the need is for parts of TaNa"Ch that are not read publicly. If you're just looking for an online TaNa"Ch, have you come across [Sefaria](https://www.sefaria.org) yet?

I'd love to hear your use case to better understand what you're looking for.

[2020-05-20 14:00] hroskes commented on #60
Hi @akivajgordon, thanks!

I'm really looking for a tikkun, either online or in print, even for the parts that aren't read publicly.  (Or really, _primarily_ for the parts that aren't read publicly, since for the parts that are I can find it in a print tikkun.)

For the last few years I've been preparing the leining every week even though I don't have a regular baal korei position, and I find that

[2020-05-20 23:14] akivajgordon commented on #60
@hroskes thanks for the additional detail.

At the moment, I’m leaning towards keeping the app a little more focused for public reading situations.

That being said, I love hearing different use cases like this that can add value to one’s learning. Can you share what about Sefaria’s tools are missing the mark for you?

[2020-05-28 16:50] b3u opened #61 "navigate to current parsha"
It would be helpful if it was possible to navigate to the current week's leining with one click. This could be a button, or the default page when you enter the site. Or, both.

The OU has a zmanim API we could pull from to make this easier. (https://github.com/Orthodox-Union/zmanim-docs#to-get-parsha-info).

Sh'koach or the project!

[2020-05-28 16:56] b3u opened #62 "Add smooth-scroll"
Useful when scrolling via keyboard (directional keys, page up/down, etc.). Without getting too deep into browser support, this is as simple as a couple lines of css:
[code]

[2020-05-28 17:06] b3u opened #63 "double ta'amim"
See _Yisro 20, 2_.
![image](https://user-images.githubusercontent.com/39805353/83171314-ed735380-a0e3-11ea-8e84-7bc28e849bbb.png)
It seems like there is a mix of ta'am ha'elyon / special ta'amim and normal ta'amim. If we could separate these, and have a toggle in the UI, that would be even better.

[2020-05-31 02:59] akivajgordon commented on #61
Thanks for opening this issue! I love the idea, and that API looks so nice and simple.

This is definitely something I've been thinking about adding for a while, but I've put it off for some reason. This shouldn't be too difficult to solve though, so I'll give it a shot in the coming days.

One thing that's always bugged me about the concept is the difference between the reading in Israel vs. outs

[2020-05-31 03:18] akivajgordon commented on #62
@b3u Thanks for opening the issue!

I understand smooth scrolling to be the browser feature that makes the page up/down, etc. scroll with transitions instead of immediately. If that's right, I'm totally with you that this is a feature worth having.

Personally, I use Safari, which doesn't support that (neither does IE, but I'm not spending any effort at all to support that browser at the moment).

[2020-05-31 03:23] akivajgordon commented on #63
@b3u Thanks for submitting. I think the source text that I used has it mixed in, so it might take some extra effort for this one.

Since this is a tikkun kor'im to prepare for an actual k'riyah, do you see any value in keeping the "normal" te'amim? If not, maybe I can just manually swap them to the special ones and not have to worry about showing any special UI for it.

[2020-05-31 17:55] akivajgordon commented on #61
Thinking about this more, I might reconsider this as a feature altogether, since it conflicts with a different feature that I think might be more beneficial in the long run.

Basically, I used to have a feature (no longer after a rewrite that I did) that would remember (using local storage) which section you last selected, so that the next time you visit, it will return to that same place. I feel

[2020-05-31 19:30] binyamin commented on #63
I agree with your point about not needing the "normal" te'amim.

[2020-06-01 16:13] binyamin commented on #62
Just tested it. The snippet makes no difference.

[2020-06-01 16:13] #62 closed

[2020-06-01 16:15] binyamin commented on #61
I agree that having a small indicator of the parsha would be fine.

[2020-06-07 05:20] akivajgordon commented on #61
Another iteration of the design...

I'm not really loving it, but would like to get some feedback.

![Screen Shot 2020-06-07 at 1 17 12 AM](https://user-images.githubusercontent.com/6025036/83960985-c859b000-a85c-11ea-8547-66f6765f6485.png)

[2020-06-07 14:11] binyamin commented on #61
Maybe "coming up" should be an expandable section, or an icon button in the header-bar. I like the idea of showing multiple weeks, but there may be a better place for it.

[2020-06-07 15:08] b3u opened #64 "Bookmark sections"
**Description:** A frequent leiner may want to bookmark a couple locations, for easy switching and finding.

**Notes**
The implementation could include an array of locations kept in Local Storage. It would be similar to #39. For the design, something similar to this :point_down: might work.
![image](https://user-images.githubusercontent.com/39805353/83972478-62961400-a8ae-11ea-8acd-4243c92ef84d.pn

[2020-06-07 15:10] binyamin commented on #64
One problem I foresee is that there doesn't seem to be any id to link to.
To solve this, we could create an id for each line in the form of `#<sefer>:<perek>:<posuk>`. For example, בראשית ז' א would be `#1:7:1`. In general, I think section linking can be a useful feature.

[2020-06-08 02:03] akivajgordon commented on #64
@b3u Thanks for submitting the issue! And thanks for the visual to help me better understand what you're looking for.

It's something I've thought about before. You wrote:

 Could you share a more details about the use case? What might the frequent reader be switching between? I'm trying to better understand the issue before jumping to a specific solution.

[2020-06-08 03:20] akivajgordon commented on #61
@b3u Could you elaborate on the advantages of having the "Coming up" section be expandable? It seems to me like an extra click and makes the feature itself less discoverable.

I think the placement of it here makes sense because it's where all the other jump-to-parsha stuff is. Having it in the header bar would, to me, clutter that area for a seldom-used item (as in, only a select number of reader

[2020-06-08 11:34] binyamin commented on #61
@akivajgordon

When you said  ([here](https://github.com/akivajgordon/tikkun.io/issues/61#issuecomment-640159084)) that you're <q>not really loving</q> the design, I had assumed you were concerned that the "Coming up" section was pushing down the main navigation section. What is your concern with the mockup you uploaded? (I happen to prefer the first version. Less obstructive.)

To solve this, we

[2020-06-08 11:43] binyamin commented on #64
@akivajgordon Sure. I may be (1) practicing a parsha a couple weeks in advance, (2) going over the weekly parsha while I'm in front of a tikkun, and (3) reviewing the reading _and_ the maftir for an upcoming holiday. Admittedly, 1 and 2 are placed near each other, while 3 can be solved by adding hints for special readings.

Another example is someone preparing for Megillas Esther. They want to be

[2020-06-08 18:05] akivajgordon commented on #64
Thanks for elaborating.

For all of those use cases, except for (3), I don't think it's worth adding additional UI in order to jump around – I think the current way isn't too much friction to finding a parsha, especially with the fuzzy search that a frequent reader would discover naturally.

As for (3), I plan to be adding all of the holiday readings as well in a similar manner to how the rest are

[2020-06-08 18:05] #64 closed

[2020-06-10 12:10] Chajmke opened #65 "Direct links to specific parsha/section"
I recently embedded the (great - yasher koach!) tool to our website and what would be marvelous, is some kind of deep linking into the different parashot via an URL parameter/argument. Or is it already implemented and I wasn't able to figure this out?

[2020-06-10 19:12] akivajgordon commented on #65
Thanks for opening this issue and for the kind words!

This is not possible today, but it is one of the next items on my list to do. In fact, I'll use this issue to continue tracking it, as well as request feedback on the implementation.

Thanks again, and stay tuned.

[2020-06-12 04:38] akivajgordon commented on #65
Just throwing out some ideas (notes) about how this might be implemented. Happy to hear feedback.

Since this is a completely static site (no backend), all routing will be done client side after the hash. Here are some examples of ways I'm thinking about deep linking:

* `https://www.tikkun.io/#/p/shoftim` (anything after /p/ will parse as a parsha to jump to)
* `https://www.tikkun.io/#/p/שופטים`

[2020-06-12 16:13] Chajmke commented on #65
I like the idea(s), once the syntax is known, it should be simple to link.

How do you deal with ”two words“ parashot like Chaye Sara? Underscore?

[2020-06-12 19:27] akivajgordon commented on #65
@talmudde I was thinking of making it as flexible as possible by using some closest match type of algorithm. Nothing too fancy, but it would be ideal if it accepted "chayei-sara" or "chayeh_sarah" or "חיישרה" or "חיי%20שרה" or anything similar. At the minimum, I could strip out any non-alpha (Hebrew or English) characters to reduce the number of possible variations.

I could also just match the qu

[2020-06-14 09:54] Chajmke commented on #65
You are right - in order to generate the direct links, most people would do the ”copy and paste“ job…

[2020-06-16 21:40] binyamin commented on #65
@akivajgordon Since the site is displayed as a single document, I think we should use hashes or url params instead of routing. Something like `https://tikkun.io/#1:12:1` or `https://tikkun.io/?q=vayish` might make more sense to a user.

[2020-06-22 20:12] #61 closed

[2020-06-23 07:00] yonikohan opened #69 "Printing"
I love this website. It’s so beautiful and elegant. However there is no correct print feature. Can you please give us the option to print it out in this format? When I hit print, the text changes it’s font. Thank you

[2020-06-23 07:07] yonikohan commented on #69
Can you also add a side by side feature like normal tikkuns?

[2020-06-23 07:11] yonikohan commented on #60
@akivajgordon Many shuls in my community use an actual scroll from certain segments of Nach for Haftarah. If we can have that option, great. However, I get that the coding is already a hard job and this request is more of a luxury.

[2020-06-23 13:32] binyamin commented on #61
@akivajgordon Most of the UI is right-to-left, since much of the text is hebrew. The parshiyos in the Coming-soon section are left-to-right. This may confuse users.

[2020-06-23 17:35] akivajgordon commented on #60
@yonikohan I am definitely interested in one day adding the haftarah, as I know some read them from a klaf as well. I'm not sure if there's some official layout for that, but that's something I can investigate later.

It really is the rest of Na"ch (portions that don't correspond to anything publicly read) that I'm not sure fits this particular app.

[2020-06-23 17:37] akivajgordon commented on #69
@yonikohan Thanks for the great feature request! This is something I've wanted to add as well, and I know that the current printing is very poor. When I implement a print option, I'll definitely have the two columns printed side-by-side like a paper tikkun.

I'll use this issue to track the feature – thanks again!

[2020-06-23 18:14] akivajgordon commented on #61
@b3u Thanks for the feedback! I'm totally with you – I went through the same thought process as well as I was implementing. Here was my breakdown:

I can eliminate the issue entirely by making it vertical, but it chews up a lot of vertical real estate for that kind of thing, so I didn't really like that option.

Most of the UI is in Hebrew because the actual Torah text is Hebrew of course, and the

[2020-06-23 19:21] yonikohan commented on #69
Thank you so much! I truly love this website. May you receive much zechut from your hard work. Maybe you can teach me one day. :)

[2020-06-24 22:15] yonikohan opened #70 "An Idea"
Hi Akiva,
I just keep using this wonderful site and I came up up with an idea. Is it possible to give us the option of making accounts and we can highlight words that we keep getting wrong with different colors? I think this would facilitate our memorization much better and would be a great feature to have on this excellent site.

[2020-06-25 01:54] akivajgordon commented on #70
@yonikohan Thanks for submitting this feature request and for your kind words! This too is one that I have had in the back of my mind, and I think it would be a great addition.

I think there are clever ways of maintaining highlights without an account, which is what I'd like to explore, but it's not off the table.

I've actually explored the highlighting idea a few months ago, and I learned that

[2021-01-30 21:39] Syntactual commented on #70
@akivajgordon I would be happy to implement an auth0 service for account; they allow a large amount of logins for free per month; I might even be able to get them to help you out as far as maybe a discounted service or free. In any case I was wondering if you had an issue I could help with?

[2021-02-02 02:13] akivajgordon commented on #70
@Syntactual – thank you for the offer.

Although I think that there are some advantages for having accounts, I think there aren't enough to warrant the hassle/management of it for right now. I'm trying to keep the app really simple and I think accounts will not fit in that vision.

My views on that are definitely malleable and not set in stone, but I'm not interested in adding it at the moment.

[2021-03-22 01:27] akivajgordon commented on #32
Fixed by #78

[2021-03-22 01:27] #32 closed

[2021-05-17 23:10] javierschulman opened #82 "Triennial System"
Hi Akiva
First of all i wanna thank you for the great job you did. I just discovered it.
One feature I was looking for in every app and online text is the following.
On many conservative communities around the world we use to read the Torah according to a triennial system as described in this teshuva: https://www.rabbinicalassembly.org/sites/default/files/public/halakhah/teshuvot/19861990/eisenber

[2021-05-26 01:53] akivajgordon commented on #65
@binyamin – I'm about a year late to reply to your comment (I never saw it, sorry!).

In my proposals [above](https://github.com/akivajgordon/tikkun.io/issues/65#issuecomment-643447000), I had prefixed everything with a hash along the same lines of your thoughts. Am I misunderstanding your suggestion, or did you not notice the hashes there?

[2021-05-26 12:59] binyamin commented on #65
@akivajgordon It's totally fine! My intent with that comment was that, slashes in a url usually denote the path to a page with a hierarchy. The tikkun is essentially one long document, so url fragments (`/#id`) might feel more natural than paths (`/#/id`). That was what I meant with https://github.com/akivajgordon/tikkun.io/issues/65#issuecomment-645026144

However, I don't like the idea of having

[2021-05-26 14:55] binyamin commented on #65
Honestly, the easiest solution might be to have a `/go` endpoint which would redirect to a parsha, a reference, a holiday, or even an aliyah (eg. `/go?parsha=foo` or `/go?ref=1:4:19`). I do think there should be a separate path for every megillah, and for the chumash/torah.

Personally, I think the issue here is that a real tikkun has multiple pages, and a sefer torah has multiple columns, but the

[2021-05-26 15:04] binyamin commented on #65
Btw, I spent _way_ too much time thinking about this issue :sweat_smile:. If you're open to it, I'd love to do a virtual meeting.

[2021-05-31 14:30] pisomojadogrande commented on #82
Hi, Javier! I had the same thought about triennial aliyot.

What I think might be ideal here for Conservative baalei kriyah - though I am not yet exactly sure how to make it happen! - would be to be able to choose a triennial year (e.g. year 2, like we're on this year) and instead have the Aliyah in the sidebar show those divisions. Probably with a switch in the UI to toggle between full vs trienn

[2021-06-01 02:25] JackYoungblood opened #84 "RFE: Display Column Numbers"
Would it be difficult to display the column number at the bottom of a column? This is helpful at times in providing a general idea of how long a parsha is.

[2021-06-02 01:36] akivajgordon commented on #84
@JackYoungblood – thanks for the RFE!

I'd love to learn more about the problem so that we can come up with the best solution. It sounds like you're actually more interested in knowing about the length of the parsha than you are about which actual column number it is, correct?

I feel your pain. Almost every week as I'm beginning to prepare for the parsha, I navigate to the upcoming parsha, and th

[2021-06-02 01:44] akivajgordon commented on #82
@javierschulman – thanks for the RFE (and sorry for the late reply)!

To be totally honest, the triennial system is a little unfamiliar to me, so I never considered adding it, and I'm not exactly sure it aligns with the direction I wanted to go; however, I haven't made a hard decision on it yet, so I will sit with it for a while and we'll see.

That being said, as @pisomojadogrande mentioned, #83

[2021-06-02 12:15] javierschulman commented on #82
Hi @akivajgordon and @pisomojadogrande , how are you?
First of all I want to thank you.  It seems that you have share with me two passions: Torah reading and computers.

@pisomojadogrande functionality is a great advance.

Regarding the triennial system in hebcal is very well documented. They have the corresponding weekly division for every system, full and triennial.
I found this file on ther git

[2021-06-02 13:03] pisomojadogrande commented on #82
Javier, I would find the same thing quite useful; it doesn't exist anywhere else that I know of.

I have started to think about it. It'll take me a little more time to figure out how to implement a full/triennial view toggle (and account for all the cases, like double parshiyot). Akiva has done a fabulous job of structuring this whole project, so I expect it would be extensible that way.

If anybo

[2021-07-16 04:56] #65 closed

[2021-07-20 06:33] dsadinoff opened #90 "Documentation suggestion - describe the sources"
Would suggest that you document your sources, especially the version of the torah text you're using.

Perhaps in a future version, implement varying texts although that might ruffle a few feathers. Nevertheless, there's actual variation of (kosher) torah scrolls out there, so you might as well say out loud which ones you're describing so that, the reader isn't thoroughly confused by variant spelli

[2021-07-20 06:47] dsadinoff commented on #90
Also, this is excellent work.  Great job!

[2021-07-20 08:49] dsadinoff opened #91 "RFE: small letters"
I'm sure you've thought of it, but I'll just leave this here as a reminder
* Small letters e.g.
# https://tikkun.io/#/p/vayikra
# Esther 9:7

[2021-07-20 09:10] dsadinoff opened #92 "Layout issue for the sons in Esther"
perhaps related to #6,

Parshandatha, at the very least needs better word-spacing.

Ideally, the sons column ought to be the same width as the other columns.

currently shows:
![image](https://user-images.githubusercontent.com/287416/126294261-79adbc8c-8e86-48a8-aa4c-09a8792f6aa1.png)

but ought to be more like:
![sons](https://user-images.githubusercontent.com/287416/126294288-28183450-d19a-4d6a-

[2021-07-20 21:44] mjradwin commented on #82
Hi @javierschulman, thanks for mentioning Hebcal. There's a more up-to-date triennial data source available in https://github.com/hebcal/hebcal-leyning

It's implemented in JS so it would be possible for tikkun.io to use the Hebcal Triennial algorithm pretty easily. The API design leaves a bit to be desired but I believe you can get it to do what you want.

https://github.com/hebcal/hebcal-leyning

[2021-09-01 19:38] ezrag26 commented on #33
Vayeilech (וילך לא:ה)
![Screen Shot 2021-09-01 at 22 29 07](https://user-images.githubusercontent.com/36003744/131733387-d00f0cc0-cf2d-42e0-8e13-6220786bbf22.png)

[2021-09-23 20:20] JackYoungblood opened #93 "Link to tikkun.io in Hebcal"
Akiva, this isn't an issue but I wanted to bring this to your attention. Have you seen this? https://hebcal.userecho.com/en/communities/1/topics/200-torah-reading-aliyot-link-to-a-tikkun?redirect_to_reply=1083#comment-1083

Hebcal and tikkun.io are my two favorite online torah reading sites so I'm glad to see hebcal's torah reading calendar link to tikkun.io

[2021-09-24 16:25] akivajgordon commented on #93
@JackYoungblood – yes, it started with the issue I created on the hebcal side:

https://github.com/hebcal/dotcom/issues/42

He implemented the whole thing in a few hours I think, which was really impressive.

Thanks for your continued support, and I'm glad you've found tikkun.io useful!

[2021-09-27 16:43] BonEllen opened #94 "Is there a way to not print with and without vowels/trope"
Hi. I'd like to print a reading from Tikkun.io without vowels/trope but regardless of which view I see on the screen, it prints both view together. Can the printout match what is seen on the screen? Thank you. Attached is a .pdf version of what the printout looks like.

[bereshit.pdf](https://github.com/akivajgordon/tikkun.io/files/7238009/bereshit.pdf)

Also, would it be possible to keep the nice

[2021-09-30 19:38] akivajgordon commented on #94
@BonEllen – sorry, I haven't been able to add proper printing support yet. I think it will be pretty challenging from where everything is right now.

That being said, I'd love to know a little bit more about your use case for why you'd like to print it. Also, I'd love to know what you'd like to see the end result looking like. Starting with a paper tikkun as a baseline, would you like to see somet

[2021-09-30 19:38] #94 closed

[2021-10-01 00:29] #93 closed

[2021-10-17 03:48] lord-ne opened #96 "[Feature Request] Use Shlomo Stam font instead of Shlomo semiStam when cantillation marks are hidden"
The Shlomo Stam font is made to look like handwritten letters in the Torah. The Shlomo semiStam font currently used is a modified version with some of the letter decorations removed or shortened to make it work with _nikkudot_ and _trop_ markings. When cantillation marks are hidden, there is no need to use Shlomo semiStam, so it would look nicer to switch to the Shlomo Stam font with the full deco

[2021-10-17 12:04] akivajgordon commented on #96
@lord-ne I think it's a great suggestion. My initial thought with it was to keep things clean for a computer screen which is already harder on the eyes, plus that when you toggle the nikkud and trop back and forth, the distinctions are less clear when the crowns also are appearing/disappearing.

That being said, I recognize the value of having the Torah side appear as naturally as it would appear

[2021-10-17 22:25] lord-ne commented on #96
Sounds good. I won't have time to make a PR for a couple weeks at least (I don't have much experience with JavaScript so it'll take me a couple hours to figure out how to do it, which I unfortunately don't have time for right now), so if anyone else wants to do it in the meantime feel free.

[2021-10-18 00:31] akivajgordon commented on #96
@lord-ne No problem. I actually don't think it's too tricky, so I'll give it a stab tonight. And if it does turn out to be tricky, then I'll throw a comment as to why.

[2021-10-18 01:52] akivajgordon commented on #96
@lord-ne So I just tried this out:

![2021-10-17 21 39 09](https://user-images.githubusercontent.com/6025036/137656395-a6ad4e41-3910-4085-9092-3ff5a84f58d2.gif)

I find the resulting appearance to be very underwhelming (the crowns don't appear as large as in a sefer Torah, so much so that I can't even tell how many crowns are on each letter at any reasonable font size); therefore, I don't think it

[2021-10-18 01:52] #96 closed

[2021-10-24 17:40] lord-ne opened #97 "Possible error in text?"
In this tikkun, Bereishit 19:20 has the word spelled "היא", however all other tikkunim and chumashim I've looked at (Artscroll Stone Chumash, Koren Tanakh Maalot, Sefaria, a tikkun korim published by מישור) have "הוא". I'm not sure if this is an error or just a different version, but I can't find anything else that has it written "היא".

tikkun.io:
![2021-10-24 (008)](https://user-images.githubuse

[2021-10-24 22:17] akivajgordon commented on #97
@lord-ne thanks for raising this! I haven't verified against any other source but I'll take your word for it. Actually the source text used here is from Sefaria, but I pulled it over 5 years ago, so perhaps they had an error at the time and have fixed it by now. I'll repull their source and try to update.

[2021-10-25 02:21] #97 closed, assigned to nobody

[2021-10-25 02:30] akivajgordon commented on #97
@lord-ne So there seems to be an inconsistency with Sefaria's text on their site with [the text that they export](https://github.com/Sefaria/Sefaria-Export/blob/master/json/Tanakh/Torah/Genesis/Hebrew/Tanach%20with%20Ta'amei%20Hamikra.json) (which still shows as "והיא"). So I've manually updated it for now:

![image](https://user-images.githubusercontent.com/6025036/138626001-c8259435-453b-4196-9d

[2021-10-25 18:07] Chajmke commented on #97
It seems you used the text of the Leningrad Manuscript. You'll find this variant in this manuscript (BHS) and you'll have differences in other places as well.

[2021-10-26 01:06] akivajgordon commented on #97
@Chajmke Indeed, the text in Sefaria is generated from the Leningrad Codex. Do you know of another source that has the text (with nikkud and ta'amei mikra) in a more accepted variant? And preferably in JSON?

[2021-10-26 01:26] lord-ne commented on #97
Sefaria actually appears to have multiple versions of text available. Their main one is מקרא על פי המסורה, and it can be found [here](https://he.m.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94#%D7%A8%D7%90%D7%A9)

This version of the text has the word spelled הוה, like most chumashim/tikkunim: [Bereis

[2021-11-24 20:14] etayluz opened #99 "HEBREW ACCENT TELISHA GEDOLA trope mark is missing"
In tikkun.io - Genesis 37:7 - the first word is displayed as such
<img width="89" alt="Screen Shot 2021-11-24 at 3 12 54 PM" src="https://user-images.githubusercontent.com/1825834/143307177-36049aca-add6-46ec-9b96-42a52a0eaace.png">

However on Sefaria it appears as such
https://www.sefaria.org/Genesis.37.9?lang=he&aliyot=0:
![image](https://user-images.githubusercontent.com/1825834/143307237-3be5

[2021-11-24 20:32] etayluz opened #100 ""HEBREW POINT QAMATS QATAN" has been force cast into an ordinary "HEBREW POINT QAMATS""
In tikkun.io - Genesis 1:21 - what should be a "HEBREW POINT QAMATS QATAN" under the letter KAF has apparently been force cast into an ordinary: "HEBREW POINT QATAN"
![image](https://user-images.githubusercontent.com/1825834/143308721-70274394-af1f-41cf-b750-c615cf2c1cb0.png)

However on Sefaria it appears correctly as such:
https://www.sefaria.org/Genesis.1.21
![image](https://user-images.githubu

[2021-11-24 21:04] akivajgordon commented on #100
@etayluz – thanks for creating this issue!

Ironically, the source text is from Sefaria, e.g.: https://github.com/Sefaria/Sefaria-Export/blob/master/json/Tanakh/Torah/Genesis/Hebrew/Tanach%20with%20Ta'amei%20Hamikra.json

But unfortunately, it seems that they don't have the kamatz katan there. The Sefaria website might be using a different version of source text that I haven't found. If you know h

[2021-11-24 21:04] #100 closed

[2021-11-24 21:11] akivajgordon commented on #99
@etayluz – thanks for creating this issue!

Yes, it's been frustrating for me as well – I've seen a ton of these errors all over within the source text, which is ironically acquired from Sefaria, e.g.: https://github.com/Sefaria/Sefaria-Export/blob/master/json/Tanakh/Torah/Genesis/Hebrew/Tanach%20with%20Ta'amei%20Hamikra.json

From that source, the verse is given as:

[code]

So I'd need to get a

[2021-11-24 21:17] etayluz commented on #99
What I've noticed is that the text as it appears on Sefaria's website in very much correct and complete. However - their Sefaria-Export dump seems to be a completely different version that is actually based on [tanach.io](https://www.tanach.us/) - which is the source of all the errors.

I'll put together a nice json file and attach it later. It will just be a copy and paste of the content from Sef

[2021-11-24 21:18] etayluz commented on #100
I'll put together a nice json file and attach it later. It will just be a copy and paste of the content from Sefaria's website. It seems to be the most authoritative Mesoratic text.

[2021-11-24 21:21] etayluz commented on #44
I'll put together a nice json file and attach it later. It will just be a copy and paste of the content from Sefaria's website which does feature both vowel marks.

[2021-11-24 21:25] akivajgordon commented on #44
So I just looked and saw that Sefaria has an API that might work for this, since it appears to have the correct content, e.g.:

https://www.sefaria.org/api/texts/Genesis.37.7?context=0

Maybe there's even some refinement I can make to that request that gives me just what's needed and also lets me query more. I think this could be quite promising.

Thanks for getting this going, really appreciate i

[2021-11-24 21:37] etayluz commented on #44
Awesome!
I've also noticed that text that is returned form the API does differentiate between the two QAMATS marks:
![image](https://user-images.githubusercontent.com/1825834/143315302-c02b3240-bbdd-47d9-b058-9c21febf09a5.png)

You can grab all the verses in one shot by omitting the verse number:
https://www.sefaria.org/api/texts/Genesis.1

But you have to clean up the tags and stars and what not:

[2021-11-24 22:00] akivajgordon commented on #44
Yes, I was just looking at all that and saw the same. It's going to be a pain to remove all that, but hopefully it's just a one-time thing to get right in a script and that'll be it.

I'll work on this tonight.

[2021-11-26 17:06] akivajgordon commented on #44
For the sake of an update, I've made pretty good progress on this. Just have a few minor kinks to work out, so it should be coming pretty soon.

[2021-11-29 01:31] etayluz commented on #44
Good stuff!!

On Fri, Nov 26, 2021 at 12:06 PM Akiva Gordon ***@***.***>
wrote:

--
Etay Luz
***@***.***
Website: http://etayluz.com/

[2021-12-06 00:58] etayluz commented on #44
[text.txt](https://github.com/akivajgordon/tikkun.io/files/7657200/text.txt)
I'm attaching a json with all chapters/verses of the Torah which I compiled from Sefaria.
I've left the \<big\> and \<small\> tags intact while removing everything else.

Now you just need to hydrate the current json's with the new data.

[2021-12-06 01:34] akivajgordon commented on #44
Thanks. There's actually a lot of complex little pieces in here, and I honestly have been actively working on it. My guess is it'll be ready sometime this week or next week.

[2021-12-06 01:35] etayluz commented on #44
awesome

On Sun, Dec 5, 2021 at 8:34 PM Akiva Gordon ***@***.***>
wrote:

[2022-01-02 07:10] jclerman opened #101 "nikkud error in parshat bo"
Hi, I think I've found an error in nikkud: In Shmot 10:28 (in the 3rd aliyah of parshat Bo), we should have "al-tosef" but in the chumash text it's now "el-tosef".

![image](https://user-images.githubusercontent.com/19315670/147868847-44339933-7b9e-40a9-9929-71fb6afba9a9.png)

I compared with a couple other sources; all have "al-tosef".

Thanks and congrats on your work on this resource - it's pre

[2022-01-03 01:31] akivajgordon commented on #101
@jclerman – thanks for reporting and for your kind words!

The backstory is that the original source text was grabbed from Sefaria, which is using the Leningrad Codex. It appears that Sefaria uses a different source for its website now, and they have an API that I can get enough bits and pieces with to replace the source text.

In fact, I'm working on that as we speak in order to resolve several o

[2022-01-03 01:39] akivajgordon commented on #44
@etayluz – correct me if I'm wrong, but I see some errors using the new source (I also see the same errors on Sefaria) – two in the following screenshot (שמות יא:ו,ח):

<img width="788" alt="Screen Shot 2022-01-02 at 8 19 54 PM" src="https://user-images.githubusercontent.com/6025036/147894632-639e0cae-f5a6-4ff6-8cbe-6522e0522d85.png">

The word "והיתה" should have a מתג under the "ה", and not a מר

[2022-01-04 07:06] jclerman commented on #101
Got it, thanks @akivajgordon!

I think I found tikkun.io via HebCal's links, e.g. the book icons on this page: https://www.hebcal.com/sedrot/bo.

I actually wanted to install it locally on my laptop for offline use, but got a bit stuck - I may be missing some prerequisites.  It's the first javascript app I've tried to install; I got npm (version 8.1.2) installed, but (after cloning the repo and `c

[2022-01-04 13:26] akivajgordon commented on #101
@jclerman – thanks for sharing!

Regarding the `npm install` error, I'm not sure what exactly didn't work for you (feel free to paste error messages and I'll be happy to take a look). But you actually don't need npm in order to _run_ it locally. This is a static website, and all the files are already prebuilt for GitHub pages, so you just need to start a static web server. If you have python insta

[2022-01-05 13:00] etayluz commented on #44
I have no idea!

However, here is the source from bible.ort.org (This is actually a pretty good source and it's been around for two decades - which would make it older than Sefaria):
Exodus 11:6 - https://bible.ort.org/books/torahd5.asp?action=displaypage&book=2&chapter=11&verse=6&portion=15
Exodus 11:8 - https://bible.ort.org/books/torahd5.asp?action=displaypage&book=2&chapter=11&verse=8&portion=

[2022-01-05 20:56] akivajgordon commented on #44
@etayluz looks like some great resources, but probably difficult to work with if they don't have an API. I might submit a bug report to Sefaria and do some manual overrides of the files I'm working with to fix these 2 issues presented here.

[2022-01-05 22:49] etayluz commented on #44
But how do you know that there is an issue?

It seems like all three sources are in agreement.

What is your source ?

On Wed, Jan 5, 2022 at 3:57 PM Akiva Gordon ***@***.***>
wrote:

--
Etay Luz
***@***.***
Website: http://etayluz.com/

[2022-01-05 23:03] etayluz commented on #44
In other words, how do you know that you are correct and they are wrong?

On Wed, Jan 5, 2022 at 5:49 PM Etay Luz ***@***.***> wrote:

Etay Luz
***@***.***
Website: http://etayluz.com/

[2022-01-12 21:21] etayluz commented on #44
I checked the ArtScroll Tikkun and it seems you are correct about those two
typos.

Sadly, it doesn’t seem like there is a truly accurate source to reference
online.

Do you know know anyone working for ArtScoll ?

On Wed, Jan 5, 2022 at 6:03 PM Etay Luz ***@***.***> wrote:

Etay Luz
***@***.***
Website: http://etayluz.com/

[2022-01-13 03:49] #6 closed

[2022-01-13 03:50] akivajgordon commented on #44
Fixed with #102

[2022-01-13 03:50] #44 closed

[2022-01-13 03:50] akivajgordon commented on #33
Fixed with #102

[2022-01-13 03:50] #33 closed

[2022-01-13 03:51] akivajgordon commented on #99
Fixed with #102

[2022-01-13 03:51] #99 closed

[2022-01-13 03:51] akivajgordon commented on #101
Fixed with #102

[2022-01-13 03:51] #101 closed

[2022-01-13 04:23] #90 closed

[2022-02-28 06:19] baruchiro opened #105 "Show signs only for specific word"
Hi, very good project! I used it last year for Esther and now I'm here again.

When I'm preparing for the Megilla, I have some words that are difficult for me, you know, I just need a "hint" to continue the reading (it can be דגש, or טעם, even not important one).

In my physical book, I'm writing those hints on the "left" size (the empty size... sorry, my vocabulary doesn't contain words from עולם

[2022-02-28 14:31] akivajgordon commented on #105
@baruchiro – thanks for the feature request!

I think this is an interesting idea. I have some ideas for highlighting and selectively showing content, and I think your idea can fit into that.

I think in order to implement this, I'd want to put some other UI semantics in place first because having this action take place simply by tapping on the word would be clashing with other ways that one inter

[2022-02-28 19:53] baruchiro commented on #105
Thanks, tell me about your other features, maybe I can help...

Regarding my request, I described before, I will describe it in Hebrew to be more clear:

זה כמו גלגלי עזר. בהתחלה אתה נוסע רק איתם (קורא רק את הקריאה עם הטעמים), אחרי שאתה כבר מקבל יציבות, אתה מוריד גלגל או מעקם אותם, ומנסה יותר ויותר לנסוע בלעדיהם, אבל הם כן עוזרים לך. עד שבסוף אתה מוריד אותם לגמרי.
שמתי לב שהשלב הגדול הוא השלב הזה,

[2022-02-28 20:23] akivajgordon commented on #105
@baruchiro

תודה על ההתבררות. אני מבין לגמרי את מה שאתה אומר. זאת שיטה מסקרנת שלא חשבתי עליה פעם, אולי אמנם בגלל שהכלים של היום לא תומכים דבר כזה.

יש לך כישורים בפוטושופ כדי להדגים את חוויית המשתמש שעליה אתה מדמיין? תחשוב גם על ההסרה, לא רק של מילה אחת שהפכת למנוקד אלא גם איך לבטל על כל השינויים. ואם אפשר, תחשוב גם על החווייה בפלאפון. מה דעתך?

[2022-08-07 18:34] akivajgordon commented on #31
Closed after deploying e1a4aaa7d0b8545131864b581e61cf7ba3f0bfea.

The bundle was originally ~985KB unminified, and now gets deployed at ~302KB. After gzipping, the transfer is about 64KB, so a nice win here.

[2022-08-07 18:34] #31 closed

[2022-08-09 03:43] #92 closed

[2022-11-15 15:42] DovPer opened #109 "New Link Request"
I really love and use this resource.
Can there be a shortcut added to the Rosh Chodesh reading in the Chagim section?
Thanks!

[2022-11-15 22:04] akivajgordon commented on #109
Yes, thanks for reporting! Not sure how I overlooked that... I actually thought it was already there.

[2022-11-16 05:01] akivajgordon commented on #109
@DovPer – Deployed!

<img width="520" alt="rosh-chodesh" src="https://user-images.githubusercontent.com/6025036/202088002-2e1dfad1-ecff-4561-8ab5-19b3b0f1f11d.png">